/*  DEFINE FONTS  */
h1, h2, h3 {font-family: 'Montserrat-SemiBold'; font-weight: normal; margin: 0 0 20px;}
h1 {font-size: 40px; line-height: 48px;}
h2 {font-size: 24px; line-height: 36px;}
h3 {font-size: 20px; line-height: 32px;}

a {color: #000; text-decoration: none;}
a:hover {text-decoration: underline;}

img {max-width: 100%;}


/*  LAYOUT  */
body {max-width: 1440px; margin: auto; font-family: 'Montserrat-Light';}
body:before {content: ''; position: fixed; background: rgba(0, 0, 0, .85); width: 100%; height: 100%; left: -100%; z-index: 15; transition: .5s ease .5s;}
.container {max-width: 1240px; margin: auto; padding: 0 20px;}

header {padding: 25px 0; font-size: 0;}
div#banner {padding: 0 0 50px;}
main {padding: 0 0 50px;}
footer {padding: 0 0 50px;}


/*  HEADER  */
header .col3 {display: inline-block; vertical-align: middle;}
header .col3 > nav ul {margin: 0; padding: 0; list-style: none;}
header .col3 > nav > ul li {font-family: 'Montserrat-SemiBold'; font-size: 18px;}
header .col3 > nav > ul > li {display: inline-block; vertical-align: middle;}
header .col3 > nav > ul li img {display: block;}

header .col3.left {width: 25%;}
header .col3.left > a {display: inline-block; padding: 4px 0 3px;}
header .col3.left > a img {display: block;}

header .col3.middle {width: 50%; text-align: center;}
header .col3.middle ul > li {padding: 0 5px;}
header .col3.middle ul > li > a {padding: 10px 15px; text-decoration: none; transition: .5s ease;}
header .col3.middle ul > li > a:hover {background: #CFB995; color: #fff;}

header .col3.right {width: 25%; text-align: right;}
header .col3.right ul > li.account {position: relative; margin-left: 50px; cursor: default;}
header .col3.right ul > li.account > div {font-size: 0;}
header .col3.right ul > li.account > div > * {display: inline-block; vertical-align: middle;}
header .col3.right ul > li.account > div > span {padding: 0 10px 0 5px; font-size: 18px;}
header .col3.right ul > li.account > div > .icon {position: relative;}
header .col3.right ul > li.account > div > .icon span {position: absolute; background: #FA454B; width: 10px; height: 10px; bottom: -2px; left: -3px; border-radius: 50%;}
header .col3.right ul > li.account > span {padding: 0 10px;}
header .col3.right ul > li.account > ul {display: none; position: absolute; background: #fff; right: -10px; padding: 0 25px 15px; padding-top: 30px; text-align: left; z-index: 10;}
header .col3.right ul > li.account > ul li {display: block; font-family: 'Montserrat-Light'; line-height: 38px; white-space: nowrap;}

header .col3.right ul > li.account:hover > ul {display: block;}


/*  HAMBURGER  */
header .hamburger {display: inline-block; width: 40%; vertical-align: middle; text-align: right;}
header .hamburger > div {display: inline-block; position: relative; width: 30px; height: 24px; cursor: pointer;}
header .hamburger > div > span.line {position: absolute; width: 100%; height: 5px; left: 0; border: 1px solid #333; box-sizing: border-box; transition: .5s ease .5s, background .5s ease, transform .5s ease;}
header .hamburger > div > span.line.one {top: 0;}
header .hamburger > div > span.line.two {top: 9px;}
header .hamburger > div > span.line.three {top: 18px;}

header .hamburger > div:hover > span.line {background: #333;}


/*  BANNER  */
div#banner > div.slider .slide {position: relative; overflow: hidden;}
div#banner > div.slider .slide img {display: block;}
div#banner > div.slider .slide .backgrounds {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
div#banner > div.slider .slide .backgrounds > div {background: url(../images/banner.png) no-repeat; background-size: cover; width: 100%; height: 100%;}

div#banner > div.slider .slide .layers {position: absolute; top: 0; bottom: 0; left: 0; right: 0; transform-origin: top left;}
div#banner > div.slider .slide .layers > .layer {position: absolute; left: 100px;}
div#banner > div.slider .slide .layers > .layer.overlay {background: rgba(0, 0, 0, .57); width: 1440px; height: 460px; left: 0;}
div#banner > div.slider .slide .layers > .layer.heading {width: 500px; top: 100px; margin-right: 0; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 1px rgba(214, 214, 214, .5);}
div#banner > div.slider .slide .layers > .layer.text {width: 550px; top: 240px; font-family: 'Montserrat-Regular'; font-size: 20px; color: #fff;}
div#banner > div.slider .slide .layers > .layer.text > span {font-family: 'Montserrat-SemiBold'; color: #FA4D53;}
div#banner > div.slider .slide .layers > .layer.select-button {background: #CFB995; width: 295px; top: 315px; font-family: 'Montserrat-Bold'; font-size: 14px; line-height: 42px; color: #fff; text-align: center; text-transform: uppercase;}
div#banner > div.slider .slide .layers > .layer.find-button {width: 295px; top: 315px; left: 415px; border: 1px solid #fff; font-family: 'Montserrat-Bold'; font-size: 14px; line-height: 40px; color: #fff; text-align: center; text-transform: uppercase; box-sizing: border-box;}


/*  CAROUSEL  */
main div#main {padding: 0 0 100px;}
main div#main > h3 {background: url(../images/icons/fire.svg) no-repeat; padding-left: 50px;}
main div#main > div.carousel {max-width: 1200px; margin: auto; font-size: 0;}
main div#main > div.carousel div.block {display: inline-block; width: 25%; vertical-align: top; outline: none;}
main div#main > div.carousel div.block > div {min-height: 431px; margin: 0 10px; border: 1px solid #EFEFEF; border-radius: 2px; padding: 20px;}
main div#main > div.carousel div.block > div .head {display: flex; justify-content: space-between; align-items: center;}
main div#main > div.carousel div.block > div .head > div {display: inline-block; vertical-align: middle;}
main div#main > div.carousel div.block > div .head > div.vehicle > div {font-family: 'Montserrat-Medium'; font-size: 18px; line-height: 34px;}
main div#main > div.carousel div.block > div .head > div.vehicle > span {display: inline-block; font-family: 'Montserrat-Light'; font-size: 14px; line-height: 18px; color: #7F7F7F;}
main div#main > div.carousel div.block > div .head > div.rating {background: #F1EADE; border-radius: 5px; padding: 7px 10px; text-align: center;}
main div#main > div.carousel div.block > div .head > div.rating > div {display: block; font-family: 'Montserrat-Light'; font-size: 10px; line-height: 20px; text-decoration: underline;}
main div#main > div.carousel div.block > div .head > div.rating > span {font-family: 'Montserrat-Bold'; font-size: 16px; line-height: 20px;}
main div#main > div.carousel div.block > div .img {padding: 20px 0}
main div#main > div.carousel div.block > div .body {margin-bottom: 25px;}
main div#main > div.carousel div.block > div .body > div {display: flex; justify-content: space-between; font-family: 'Montserrat-Regular'; font-size: 14px; line-height: 28px;}
main div#main > div.carousel div.block > div .body > div.savings {margin-top: 5px; font-family: 'Montserrat-Bold';}
main div#main > div.carousel div.block > div .body > div.savings > span {color: #FA454B;}
main div#main > div.carousel div.block > div .foot {max-width: 210px; font-family: 'Montserrat-Light'; font-size: 14px; line-height: 22px;}


/*  SLICK  */
main div#main > div.carousel > .slick-arrow {position: absolute; width: 40px; height: 40px; top: 50%; margin-top: -20px; border: 0; padding: 0; font-size: 0; box-shadow: 0 0 5px rgba(51, 51, 51, .35); outline: none; z-index: 10; cursor: pointer;}
main div#main > div.carousel > .slick-arrow.slick-prev {background: url(../images/icons/arrow-left.svg) no-repeat; background-position: center; left: -40px;}
main div#main > div.carousel > .slick-arrow.slick-next {background: url(../images/icons/arrow-right.svg) no-repeat; background-position: center; right: -40px;}
main div#main > div.carousel > .slick-arrow.slick-disabled {/*background-color: rgba(128, 128, 128, .25);*/ opacity: .5; cursor: auto;}


/*  BADGES  */
main div#brands > div > div.badges {font-size: 0; text-align: center;}
main div#brands > div > div.badges > div {display: inline-block; padding: 40px; box-sizing: border-box; vertical-align: middle;}
main div#brands > div > div.badges > div > img {display: block; margin: auto;}


/*  OFFER OF THE MONTH  */
div#feature {background: url(../images/squares.png) no-repeat; background-position: center bottom; padding: 0 0 50px;}
div#feature > div.slider {padding: 0 0 50px; transform-origin: top left;}
div#feature > div.slider .slide {position: relative;}
div#feature > div.slider .slide img {display: block;}
div#feature > div.slider .slide .backgrounds {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
div#feature > div.slider .slide .backgrounds > div {background: url(../images/feature.png) no-repeat; background-size: cover; width: 100%; height: 100%;}
div#feature > div.slider .slide .layers {position: absolute; top: 0; bottom: 0; left: 0; right: 0; transform-origin: top left;}
div#feature > div.slider .slide .layers > .layer {position: absolute; left: 100px;}
div#feature > div.slider .slide .layers > .layer.overlay {background: linear-gradient(to right, rgba(0, 0, 0, .75), transparent); width: 1440px; height: 458px; top: 0; left: 0;}
div#feature > div.slider .slide .layers > .layer.top-bar {background: rgba(0, 0, 0, .9); width: 1440px; height: 100px; top: 0; left: 0;}
div#feature > div.slider .slide .layers > .layer.top-text {width: 325px; top: 15px; font-family: 'Montserrat-SemiBold'; font-size: 24px; line-height: 40px; color: #fff; text-transform: uppercase;}
div#feature > div.slider .slide .layers > .layer.top-text > span {display: block; font-family: 'Montserrat-SemiBold'; font-size: 20px; line-height: 28px; color: #fff; text-transform: capitalize;}
div#feature > div.slider .slide .layers > .layer.top-box {top: 22px; left: 450px;}
div#feature > div.slider .slide .layers > .layer.top-box > div {display: inline-block; background: #F1EADE; border-radius: 5px; padding: 10px; text-align: center;}
div#feature > div.slider .slide .layers > .layer.top-box > div > span {display: block; font-family: 'Montserrat-Light'; font-size: 10px; line-height: 20px; text-decoration: underline;}
div#feature > div.slider .slide .layers > .layer.top-box > div > span.rating {font-family: 'Montserrat-Bold'; font-size: 16px; text-decoration: none;}
div#feature > div.slider .slide .layers > .layer.box {background: #fff; width: 255px; top: 165px; left: 110px; padding: 20px 30px; box-shadow: 0 2px 4px rgba(0, 0, 0, .5);}
div#feature > div.slider .slide .layers > .layer.box > span {display: flex; justify-content: space-between; font-family: 'Montserrat-Regular'; font-size: 14px; line-height: 28px;}
div#feature > div.slider .slide .layers > .layer.box > span.savings {margin-top: 10px; font-family: 'Montserrat-Bold';}
div#feature > div.slider .slide .layers > .layer.box > span.savings > span {color: #FA454B;}
div#feature > div.slider .slide .layers > .layer.button {background: #FA454B; width: 315px; top: 325px; left: 110px; font-family: 'Montserrat-Bold'; font-size: 14px; line-height: 42px; color: #fff; text-align: center; text-transform: uppercase; box-shadow: 0 2px 4px rgba(0, 0, 0, .5);}


/*  TOP OFFERS  */
div#feature > div.top-offers {background: #fff; max-width: 925px; margin: auto; padding: 0 20px;}
div#feature > div.top-offers > .offers > div {position: relative; margin: 20px 0; font-size: 0; line-height: 40px;}
div#feature > div.top-offers > .offers > div:before {content: ''; position: absolute; background: #9013FE; width: 100%; height: 2px; bottom: 0;}
div#feature > div.top-offers > .offers > div > div.vehicle {position: relative; padding: 0 20px 0 0; font-family: 'Montserrat-Medium'; font-size: 16px; line-height: 20px;}
div#feature > div.top-offers > .offers > div > div {display: inline-block; position: absolute; background: #fff; right: 0; padding-left: 20px; line-height: 40px; vertical-align: bottom;}
div#feature > div.top-offers > .offers > div > div span {display: inline-block; font-size: 16px; vertical-align: middle;}
div#feature > div.top-offers > .offers > div > div span.rating {background: #F1EADE; width: 75px; font-family: 'Montserrat-Bold'; text-align: center;}
div#feature > div.top-offers > .offers > div > div span.button {background: #3BB273; width: 140px; margin-left: 20px; font-family: 'Montserrat-Medium'; color: #fff; text-align: center;}


/*  Footer  */
footer div#footer {text-align: center;}
footer div#footer > span {display: block; margin: 0 0 25px; font-family: 'Montserrat-SemiBold'; font-size: 32px; line-height: 42px;}


/*  Mobile Menu  */
body.open:before {left: 0; transition: .5s ease;}

div.mobile-menu {position: fixed; width: 250px; height: 100%; opacity: 0; visibility: hidden; z-index: 20; transition: .5s ease;}
div.mobile-menu > div.wrap {}
div.mobile-menu > div.wrap > svg {padding: 29px 0 0 20px;}
div.mobile-menu > div.wrap > nav {position: absolute; width: 210px; top: 46px; bottom: 0; padding: 20px;}
div.mobile-menu > div.wrap > nav ul {list-style: none; height: 100%; margin: 0; padding: 0; overflow: scroll;}
div.mobile-menu > div.wrap > nav ul li {color: #fff;}
div.mobile-menu > div.wrap > nav ul li a {text-decoration: none; transition: .5s ease;}
div.mobile-menu > div.wrap > nav ul li a:hover {color: #CFB995;}
div.mobile-menu > div.wrap > nav ul > li.cart > a > svg path {transition: .5s ease;}
div.mobile-menu > div.wrap > nav ul > li.cart > a > svg circle {transition: .5s ease;}

div.mobile-menu > div.wrap > nav ul > li > a {font-size: 16px; line-height: 28px; color: #fff;}

div.mobile-menu > div.wrap > nav ul > li.cart > a > * {display: inline-block; vertical-align: middle;}
div.mobile-menu > div.wrap > nav ul > li.cart > a:hover > svg path#Shape {fill: #CFB995;}
div.mobile-menu > div.wrap > nav ul > li.cart > a:hover > svg circle#Oval-3 {fill: #CFB995;}

div.mobile-menu > div.wrap > nav ul > li.account {position: relative; cursor: default;}
div.mobile-menu > div.wrap > nav ul > li.account > div {font-size: 0;}
div.mobile-menu > div.wrap > nav ul > li.account > div > * {display: inline-block; vertical-align: middle;}
div.mobile-menu > div.wrap > nav ul > li.account > div > span {padding-left: 5px; font-size: 16px; line-height: 24px;}
div.mobile-menu > div.wrap > nav ul > li.account > div > .icon {position: relative; margin-left: 3px;}
div.mobile-menu > div.wrap > nav ul > li.account > div > .icon span {position: absolute; background: #FA454B; width: 10px; height: 10px; bottom: -2px; left: -3px; border-radius: 50%;}

div.mobile-menu > div.wrap > nav ul > li.account > ul {margin-left: 28px;}
div.mobile-menu > div.wrap > nav ul > li.account > ul > li > a {font-size: 12px; line-height: 20px; color: #fff;}
div.mobile-menu > div.wrap > nav ul > li.account > ul > li > a:hover {color: #CFB995;}

header .hamburger.open {position: fixed; right: 20px; z-index: 25;}
header .hamburger.open > div > span.line {background: #fff; border-color: #fff; transition: .5s ease, transform .5s ease .5s;}
header .hamburger.open > div > span.line.one {top: 9px; transform: rotate(45deg);}
header .hamburger.open > div > span.line.two {opacity: 0;}
header .hamburger.open > div > span.line.three {top: 9px; transform: rotate(-45deg);}

header .hamburger.open > div:hover > span.line {background: #FA454B; border-color: #FA454B;}

div.mobile-menu.open {opacity: 1; visibility: visible; transition: .5s ease .6s;}







